@import 'styles/colors.scss';

.wrapper {
  display: grid;
  grid-template-areas: '. footer-text .';
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-items: center;
}

.text {
  grid-area: footer-text;
  color: $accent-color;
}
