@mixin fade-in() {
  animation: fadeIn ease 1000ms;
  -webkit-animation: fadeIn ease 1000ms;
  -moz-animation: fadeIn ease 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin pop-in-modal() {
  animation: pop-in-modal ease 1000ms;
  -webkit-animation: pop-in-modal ease 1000ms;
  -moz-animation: pop-in-modal ease 1000ms;
}

@keyframes pop-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@-moz-keyframes pop-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@-webkit-keyframes pop-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@mixin wrap-around() {
  animation: wrap-around 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  -webkit-animation: wrap-around 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  -moz-animation: wrap-around 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes wrap-around {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

@-moz-keyframes wrap-around {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

@-webkit-keyframes wrap-around {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
