@mixin fade-in() {
  animation: fadeIn ease 1000ms;
  -webkit-animation: fadeIn ease 1000ms;
  -moz-animation: fadeIn ease 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin pop-in-modal {
  animation: pop-in-modal ease 1000ms;
  -webkit-animation: pop-in-modal ease 1000ms;
  -moz-animation: pop-in-modal ease 1000ms;
}

@keyframes pop-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@-moz-keyframes pop-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@-webkit-keyframes pop-in-modal {
  from {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  to {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}
