@import 'styles/sizes.scss';
@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';

.view {
  @include fade-in();
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 8fr;
  grid-template-columns: 3fr 9fr;
  gap: $horizontal-padding;
  grid-template-areas:
    'image title'
    'image genres'
    'image year'
    'image overview';
}

.button {
  position: absolute;
  top: 0.3rem;
  right: 0;
  display: inline-block;
  padding: 1.125rem 0.75rem;
  color: $accent-color;
  font-size: larger;
}

.image {
  grid-area: image;
  img {
    height: 308px;
  }
}

.title {
  grid-area: title;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

.rating {
  display: inline-block;
  min-width: 4rem;
  text-align: center;
  padding: $vertical-padding;
  margin-left: $vertical-padding;
  border-radius: 50%;
  font-size: medium;
  border: 1px solid $font-color;
}

.genres {
  grid-area: genres;
}

.year {
  grid-area: year;
  color: $accent-color;
  font-size: larger;
}

.duration {
  margin-left: 2rem;
}

.overview {
  grid-area: overview;
  overflow-y: auto;
  @include scrollbar-styles();
}
