@import 'styles/sizes.scss';
@import 'styles/colors.scss';

.movie {
  position: relative;
  display: grid;
  gap: $horizontal-padding;
  grid-template-columns: 10fr 2fr;
  grid-template-rows: $movie-image-height auto auto;
  grid-template-areas:
    'movie-image movie-image'
    'movie-title movie-year'
    'movie-genres movie-genres';
  align-items: center;

  &:hover {
    filter: brightness(120%);

    .button {
      display: block;
    }
  }
}

.button {
  position: absolute;
  display: none;
  top: 0.5rem;
  right: 0.5rem;
  padding: 1rem 0.6rem;
}
