@import 'styles/sizes.scss';
@import 'styles/colors.scss';

.movie {
  position: relative;
  display: grid;
  grid-row-gap: $horizontal-padding;
  grid-template-columns: 10fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'movie-image movie-image'
    'movie-title movie-year'
    'movie-genres movie-genres';
  align-items: center;

  &:hover {
    .button {
      display: block;
    }
    .image {
      opacity: 1;
    }
  }
}

.image {
  grid-area: movie-image;
  opacity: 0.9;
}

.title {
  grid-area: movie-title;
}

.year {
  grid-area: movie-year;
  justify-self: center;
  border: $border-height solid $foreground-color;
  padding: 0 $vertical-padding;
  font-size: 0.8rem;
  border-radius: 4px;
}

.genres {
  grid-area: movie-genres;
  font-size: 0.8rem;
  opacity: 0.8;
}

.button {
  position: absolute;
  display: none;
  top: 8px;
  right: 8px;
  padding: 1rem 0.6rem;
}
